{% extends "template.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="static/headshot.jpg" alt="White Woman with brown features smiling" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-8">
        <h2>Welcome to my website!</h2>
        <p>My name is Marnie, and I'm a <b>STEM educator</b>. I've taught <b>biology, chemistry, physics, and
                environmental
                science</b> at the middle school level. As a Master's candidate at the Harvard Graduate School of
            Education, I
            have been learning and applying knowledge towards teaching <b>computer science.</b></p>
        <p>I believe that students achieve their best when provided with both <b>high expectations</b> and <b>high
                support</b>. To this end, I have utilized platforms like Canvas to create dynamic, interactive
            web pages for my classes full of practice quizzes, simulations, and other learning resources such as
            Quizlets, GoFormative, and more. By offering abundant
            resources for success in a non-judgemental, encouraging environment, <b>I ensure every student feels
                empowered to reach their learning goals.</b>
        </p>
        <p>Before teaching, I was a communications assistant at <b>The Hastings Center</b>, a bioethics research institute,
            where I explored topics ranging from reproductive ethics to sports ethics.

            For the past two summers, I have worked in partnership with the Materials Science Department at <b>Northwestern
            University</b> on translating STEM activities to blind and low vision learners.</p>
        <p>Outside of teaching, I love biking, hiking, doing yoga, and walking my dog. I'm a huge Survivor nerd and I
            love learning languages, including Spanish, Hebrew, Arabic, and American Sign Language.</p>
    </div>
</div>
{% endblock %}