{% extends "template.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<h2>Portfolio</h2>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/classroom.png" class="card-img-top" alt="Universal Design Portfolio">
            <div class="card-body">
                <p class="card-text">Check out my Google
                    site for some of my work in remixing my current lessons to focus on Universal Design for Learning.
                </p>
                <a href="https://sites.google.com/view/klein-ideas-for-the-classroom/home"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/makingthecase.png" class="card-img-top" alt="Chrome Extension: Making the Case">
            <div class="card-body">
                <p class="card-text">I created a Google Chrome extension for middle-schoolers to learn more about
                    climate change action.</p>
                <a href="https://chromewebstore.google.com/detail/making-the-case-climate-t/mbaipeljdgeedpameocodhdlhlacpghl?authuser=0&hl=en"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/rollercoaster.png" class="card-img-top" alt="rollercoaster animation">
            <div class="card-body">
                <p class="card-text">Teaching Deck Sample 1: Here's one of my middle school science projects that I
                    developed in collaboration with colleagues at Buckingham Browne and Nichols School.</p>
                <a href="https://docs.google.com/presentation/d/11tUELXTVa7mbJ7cJoBS3Y_ze0vFaNUV9dlfRoQa_UeM/edit#slide=id.p"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/penguin.png" class="card-img-top" alt="penguin animation">
            <div class="card-body">
                <p class="card-text">Teaching Deck Sample 2: Here's another middle school science project, focused on
                    thermal energy.</p>
                <a href="https://docs.google.com/presentation/copy?title=Penguin%20Palace%20Project%2022%2023&cmm_csn=false&copySourceId=1EJ87VP0MYDjg4xGc201Ikj_DRUUjIK9035lLWmNhpIo&token=AC4w5ViPN_dzjntzovrSHm3RDWubmBjoQw%3A1735581973488&usp=slides_web"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/ghost.jpg" class="card-img-top" alt="Beaker with ghost on it and dry ice fog">
            <div class="card-body">
                <p class="card-text">See more of my experiments with middle-school students here.</p>
                <a href="https://docs.google.com/presentation/d/1zqH-4pitmCPQeuZbZa-fGtZhRVDPJ605hv9Atet8zr4/edit?usp=sharing"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/friedmanplace.jpg" class="card-img-top"
                alt="Seven women and one service dog in front of the Friedman Place's sign">
            <div class="card-body">
                <p class="card-text">As a Research Experiences for Teachers participant at Northwestern University, I
                    organized two workshops for teaching STEM concepts to adults who are blind and low vision.</p>
                <a href="https://docs.google.com/document/d/1Sudf7tDZ_0ZeOpYR4UY2-F0Ad60HNwfTOpi7vHarV3I/edit?tab=t.0"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/sortoffolio.jpg" class="card-img-top" alt="tile of harry potter">
            <div class="card-body">
                <p class="card-text">Learning Design sample: I created a set of learning design tools and sample
                    projects for teachers to use to encourage and value tinkering and learning through trial and error
                    in maker projects, in partnership with MIT's Edgerton Center.</p>
                <a href="https://studio.gse.harvard.edu/the-sort-of-folio/" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/track2.png" class="card-img-top" alt="track">
            <div class="card-body">
                <p class="card-text">Writing Sample: As a communications assistant at The Hastings Center, I wrote about
                    modern bioethics topics, including sports ethics. Check out a writing sample here.</p>
                <a href="https://www.thehastingscenter.org/we-should-be-concerned-about-athletes-having-to-dope-down/"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="static/hastings2.png" class="card-img-top" alt="The Hastings Center">
            <div class="card-body">
                <p class="card-text">Video Sample: I filmed and edited a video about The Hastings Center’s inaugural
                    bioethics workshop for secondary school teachers.</p>
                <a href="https://www.youtube.com/watch?v=2r54HiUOyFg&ab_channel=TheHastingsCenter"
                    class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <!-- Repeat .col-md-4 structure for more portfolio items -->
</div>
{% endblock %}